.expenses-filter {
    width: 100%;
    margin-bottom: 0.5rem;
}

.expenses-filter-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.expenses-filter-control label {
    padding-right: 0.5rem;
    width: auto;
}

.expenses-filter-control select {
    width: auto;
    padding: 0.5rem;
    outline: none;
    border: none;
    /*background: rgb(151, 125, 224);*/
}


/*.expenses-filter-control select:h {
    outline: rgba(107, 18, 148, 0.966);
}*/

@media screen and (max-width:600px) {
    .expenses-filter-control {
        display: flex;
        justify-content: center;
    }
}